# ignore secrets, virtual environments, and typical python compilation artifacts
secrets.toml
.venv/

# ignore python generated artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
build/
dist/
wheels/
*.egg-info

# ignore logs
*.log

# ignore dbt
dbt_strava/data/

# ignore duckdb
*.wal

# ignore misc
.DS_Store

# ignore stuff in reports
reports/.svelte-kit
reports/build
reports/node_modules
reports/.DS_Store
reports/static/data
reports/*.options.yaml
reports/.vscode/settings.json
reports/.env
reports/.evidence/meta
reports/.evidence/template
